.book-manage {
  display: flex;
  flex-direction: column;
}

.book-manage .content {
  padding: 20px;
}

.book-manage h1 {
  height: 80px;
  line-height: 80px;
  padding-left: 20px;
}

.book-manage .book-search {
  margin-bottom: 50px;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
}

.book-manage .book-list .card {
  margin-left: 30px;
  margin-bottom: 30px;
}

.book-manage .book-list .links {
  display: flex;

  flex-direction: row;
  justify-content: space-around;
}